<.header>
  Listing Posts
  <:actions>
    <.link :if={@current_user} patch={~p"/posts/new"}>
      <.button>New Post</.button>
    </.link>
  </:actions>
</.header>


  <.table
    id="posts"
    rows={@streams.posts}
    row_click={fn {_id, post} -> JS.navigate(~p"/posts/#{post}") end}
  >
    <:col :let={{_id, post}} label="Title">
      <div class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900">
        <%= post.title %>
      </div>
    </:col>
    <:action :let={{_id, post}}>
      <div class="sr-only">
        <.link navigate={~p"/posts/#{post}"}>Show</.link>
      </div>
    </:action>
  </.table>


<.modal :if={@live_action in [:new, :edit]} id="post-modal" show on_cancel={JS.patch(~p"/posts")}>
  <.live_component
    module={HackerSonaWeb.PostLive.FormComponent}
    id={@post.id || :new}
    title={@page_title}
    action={@live_action}
    post={@post}
    current_user={@current_user}
    patch={~p"/posts"}
  />
</.modal>
